[package]
name = "identity-codec"
version = "0.1.0"
edition = { workspace = true }
authors = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }
license = { workspace = true }
rust-version = { workspace = true }

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
codecs-wasm-logging = { workspace = true }
numcodecs-identity = { workspace = true }
numcodecs-wasm-guest = { workspace = true }

[lints]
workspace = true
