[build-system]
requires = ["hatchling", "hatch-requirements-txt"]
build-backend = "hatchling.build"
[project]
name = "jl95terceira_pytools_pp_java"
version = "0.1.0"
authors = [
  { name="Joao Luis Ornelas da Silva", email="jl95terceira@gmail.com" },
]
description = "A processor / source generator for Java"
readme = "README.md"
requires-python = ">=3.12"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]
dynamic = ["dependencies"]

[project.urls]
Homepage = "https://github.com/jl95terceira/project-pytools-pp-java"
Issues = "https://github.com/jl95terceira/project-pytools-pp-java/issues"

[tool.hatch.build.targets.wheel]
packages = ["project/package"]

[tool.hatch.build.targets.wheel.sources]
"project/package" = "jl95terceira/pytools"

[tool.hatch.metadata.hooks.requirements_txt]
files = ["requirements.txt"]
