.cookie-consent {
    position: fixed;
    z-index: 50;
    bottom: 0;
    right: 0;
    left: 0;
    height: max-content;

    text-align: center;

    background: var(--base-header-bg-color);

    header {
        position: relative;

        .close {
            position: absolute;
            right: 8px;
            top: 0;
        }
    }
    section {
        margin-bottom: 24px;
    }
    .accept {
        position: absolute;
        right: 8px;
        bottom: 16px;
    }
}
