[project]
version_file = src/systray/__version__.py

[__version__.py]
recipe = infi.recipe.template.version
output = ${project:version_file}

[development-scripts]
eggs = ${project:name}
	ipython
	nose
