[build-system]
requires = ["setuptools", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "dau-ml"
description = "dau-ml"
version = "0.0.0"
readme = "README.md"
license = { file = "LICENSE" }
requires-python = ">=3.8"
authors = [{name = "Tim Paine", email = "t.paine154@gmail.com"}]
classifiers = [
    "Development Status :: 4 - Beta",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
]
dependencies = []

[project.urls]
Repository = "https://github.com/dau-dev/dau-ml"
Homepage = "https://github.com/dau-dev/dau-ml"
Documentation = "https://github.com/dau-dev/dau-ml/wiki"
Tracker = "https://github.com/dau-dev/dau-ml/issues"
