div .react-select-dropdown__menu {
    margin-bottom: 0;
    margin-top: 0;
}

div .react-select-dropdown__control {
    min-height: 36px;
    border-color: rgb(204, 204, 204);
    box-shadow: none;
    width: 100%;
}

div .react-select-dropdown__control:hover {
    border-color: rgb(204, 204, 204);
}

div .react-select-dropdown__indicators {
}

div .react-select-dropdown__indicator {
    color: #999;
}

div .react-select-dropdown__menu-list {
    padding: 0;
}
